#root {
  max-width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  padding: 2rem;
  text-align: center;
}

.content{
  width: 900px;
}


.create {
  display: flex;
  justify-content: center;

}

.build{
  margin: 0 auto;
}

.userBuild{
  margin: 10px;
}